<div class="contact">
      <p>
        Fredrik Vihlborg<br />
        Consultant at <a href="http://www.jayway.com/">Jayway</a><br />
        me@fredrik.io
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="https://twitter.com/fredrikvihlborg" class="twitter-follow-button" data-show-count="false">Follow @fredrikvihlborg</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script><br />
        <a href="https://www.linkedin.com/in/fredrikvihlborg"><img src="http://static.viewbook.com/images/social_icons/linkedin_16.png" alt="Fredrik Vihlborg, LinkedIn" /></a>
        <a href="https://www.linkedin.com/in/fredrikvihlborg">linkedin.com/in/fredrikvihlborg</a><br />
        <a href="https://github.com/frvi/"><img class="emoji" title=":octocat:" alt=":octocat:" src="https://assets.github.com/images/icons/emoji/octocat.png" height="20" width="20" align="absmiddle"></a>
        <a href="https://github.com/frvi/">github.com/frvi</a><br />
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://stackoverflow.com/users/3861235/frvi"><img src="https://stackoverflow.com/users/flair/3861235.png" alt="Profile for Fredrik Vihlborg at Stack Overflow" title="Profile for Fredrik Vihlborg at Stack Overflow" /></a>
      </p>
</div>
