<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Fredrik Vihlborg" />
   <meta name="readability-verification" content="QCzSs992GxmRYRKVpPeZ6LE2tS8aYKxsSSQKV8YM"/>

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!-- Typekit 
   <script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
   -->
</head>
<body>

<!-- ClickTale Top part
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->

<img src="http://www.fredrik.io/images/fredrik_io_header.png" />

<div class="site">
  <div class="title">
    <a href="/">Fredrik Vihlborg</a>
    <a class="extra" href="/">home</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Fredrik Vihlborg<br />
        Consultant at <a href="http://www.netlight.com/">Netlight</a><br />
        me@fredrik.io
      </p>
    </div>
    <div class="contact">
      <p>
	<a href="https://twitter.com/fredrikvihlborg" class="twitter-follow-button" data-show-count="false">Follow @fredrikvihlborg</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script><br />
        <a href="https://www.linkedin.com/in/fredrikvihlborg"><img src="http://static.viewbook.com/images/social_icons/linkedin_16.png" alt="Fredrik Vihlborg, LinkedIn" /></a>
        <a href="https://www.linkedin.com/in/fredrikvihlborg">linkedin.com/in/fredrikvihlborg</a><br />
        <a href="https://github.com/frvi/"><img class="emoji" title=":octocat:" alt=":octocat:" src="https://assets.github.com/images/icons/emoji/octocat.png" height="20" width="20" align="absmiddle"></a>
        <a href="https://github.com/frvi/">github.com/frvi</a><br />
	<a href="http://stackoverflow.com/users/3861235/frvi"><img src="https://stackoverflow.com/users/flair/3861235.png" alt="Profile for Fredrik Vihlborg at Stack Overflow" title="Profile for Fredrik Vihlborg at Stack Overflow" /></a>
      </p>
    </div>
  </div>
</div>

<a href="http://github.com/frvi"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

</body>
</html>
